div.parent {
  position: relative;
}

div.parent > img {
  width: 100%;
}

div.text {
  position: absolute;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  background-color: rgba(255, 255, 255, 0.3);
  padding: 32px 64px;
  font-size: 24px;
  color: #d0a26b;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 0px 48px;
}